.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.nav-menu {
  background-image: linear-gradient(225deg, #00a3e4, #0082c8 70%, #0769b1 84%, #167cc5);
  box-shadow: 0 2px 5px #0003;
}

.navbar-logo-left {
  background-color: #000;
}

.navbar-logo-left-container {
  z-index: 5;
  background-color: #0000;
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  background-color: #000;
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #fff;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #fdfdfdbf;
}

.nav-link:focus-visible, .nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  color: #fff;
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: #ffffffbf;
}

.nav-dropdown-toggle:focus-visible, .nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible, .nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  background-color: #e4ebf3;
  width: 1px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: #1a1b1fbf;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.con {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 100px;
}

.footer {
  background-color: #000;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  position: static;
  inset: auto 0% 0%;
}

.footer_container {
  width: 100%;
}

.categorias {
  text-align: center;
  width: 100%;
}

.tag_categoria {
  color: #fff;
  border-left: 1px #fff;
  border-right: 1px solid #fff;
  border-radius: 1px;
  margin-left: 4px;
  margin-right: 0;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 21px;
  font-weight: 600;
  text-decoration: none;
}

.tag_categoria.last {
  border-right-style: none;
  margin-right: 0;
  padding-right: 0;
}

.tag_categoria.first {
  margin-left: 0;
  margin-right: 4px;
  padding-left: 0;
  font-weight: 600;
}

.shared__fb {
  text-align: center;
  background-color: #4680fd;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  margin-right: 4px;
}

.shared__fb:hover {
  background-color: #203768;
}

.shared__whatsapp {
  text-align: center;
  background-color: #095e54;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.shared__whatsapp:hover {
  background-color: #1fb456;
}

.shared__div {
  background-color: #020c46;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 100%;
  padding: 4px 8px 16px;
}

.tel_shared {
  float: left;
  color: #fff;
  text-align: right;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  font-size: 18px;
  display: flex;
}

.socialmedia_shared {
  float: left;
}

.item_350x350 {
  float: left;
  border-radius: 10px;
  width: 300px;
}

.item_350x350.margin16 {
  box-shadow: none;
  border-radius: 19px;
  margin-right: 16px;
}

.item_350x350.margin8 {
  margin-left: 5px;
  margin-right: 5px;
}

.item_350x350.last {
  float: right;
}

.telefon__numbers {
  margin-bottom: 0;
  font-family: Roboto Condensed, sans-serif;
}

.item__350x700 {
  float: left;
  width: 600px;
  height: 350px;
}

.item__350x700.margin16 {
  height: 300px;
  margin-right: 16px;
}

.vacantes__link {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: -5px;
}

.image {
  height: auto;
}

.cointainer__1200 {
  max-width: 1232px;
  margin-left: auto;
  margin-right: auto;
}

.menu__categorys {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer_category {
  color: #fff;
  letter-spacing: 1px;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}

.footer__div__cat {
  float: left;
  text-align: center;
  width: 25%;
}

.logo {
  width: 200px;
  max-width: none;
  height: auto;
}

.caltoaction {
  height: 45px;
}

.header_h1 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.buscador {
  background-color: #0082c8;
  padding-top: 16px;
  padding-bottom: 16px;
}

.buscador_input {
  border-radius: 50px 0 0 50px;
  width: 100%;
  height: 60px;
  margin-bottom: 0;
  padding: 29px;
}

.buscador_col1 {
  padding-right: 0;
}

.buscador_boton {
  background-color: #e47a00;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100%;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
}

.buscador_col2 {
  padding-left: 0;
}

.header_center {
  min-height: 100px;
}

.heder_col1 {
  height: 100px;
}

.header_col3 {
  min-height: 100px;
}

.header_logo, .header_calltoaction {
  justify-content: center;
  align-items: center;
  height: 100px;
  display: flex;
}

.header_slidert.home_slider1 {
  background-image: radial-gradient(circle at 50% 100%, #6653f8, #2d70ff);
}

.header_slidert.home_slider2 {
  background-image: radial-gradient(circle, #009dff, #001eff);
}

.header_slidert.home_slider3 {
  background-image: radial-gradient(circle at 41% 150%, #000, #001190 58%);
}

.row_items {
  margin-bottom: 16px;
}

.footer_col2 {
  border-bottom: 1px solid #fff;
}

.brand_logo {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.home_slider {
  background-color: #00abee;
}

.rutas_info {
  float: none;
  width: 100%;
}

.rutas_info.full {
  width: 100%;
}

.rutas_icon_img {
  width: 26px;
}

.rutas_cols {
  width: 100%;
}

.rutas_col1 {
  height: 40px;
}

.rutas_col2 {
  height: 40px;
  padding-right: 0;
}

.rutas_text {
  color: #fff;
  margin-bottom: 0;
  font-family: Roboto Condensed, sans-serif;
  font-size: 16px;
}

.buscador_form {
  margin-bottom: 0;
}

.box_flex-40x40 {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
}

.box_heigh--40 {
  justify-content: center;
  align-items: center;
  height: 40px;
  display: flex;
}

.item_350x700--img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.item_350x350--img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 300px;
}

.ubicacion_title {
  color: #fff;
  background-image: url('../images/pin.png');
  background-position: 8px;
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom: 1px solid #fff;
  margin-bottom: 4px;
  padding: 4px 4px 4px 32px;
}

.ubicacion_title_txt {
  background-color: #0000;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.box_flex--150x150 {
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 300px;
  display: flex;
}

.col_center {
  text-align: center;
}

.banner_cols {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.body {
  font-family: Montserrat, sans-serif;
}

.banner_h2--txt {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 2px 5px #0003;
}

.heading {
  text-align: center;
}

.footer_title_category {
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4px;
  font-size: 16px;
}

.footer_socialmedia {
  color: #fff;
}

.footer_sm--txt {
  text-align: center;
  font-weight: 600;
}

.box_40x40 {
  float: left;
  width: 40px;
  height: 40px;
}

.box_40x40.margin16 {
  margin-right: 16px;
}

.row_sm--icons {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.item__full {
  float: left;
  width: 100%;
  height: 350px;
}

.item__full.margin16 {
  margin-right: 16px;
}

.item_block--img {
  float: left;
}

.shared__div-__full {
  float: left;
  background-color: #1885c9;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 0;
  width: 350px;
  height: 350px;
  padding: 4px 4px 4px 16px;
}

.item_full--img {
  border-top-left-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 16px;
  width: 880px;
}

.item_full--table {
  width: 100%;
}

.item_table_col1 {
  height: 40px;
}

.item_ful--table {
  height: 40px;
  padding-right: 0;
}

.item_full--info {
  float: left;
}

.item_full--info.full {
  float: none;
  width: 100%;
  margin-top: 16px;
  font-size: 20px;
}

.item_full--bullet {
  color: #fff;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  font-weight: 600;
  display: flex;
}

.item_full_info--txt {
  margin-bottom: 0;
}

.footer__calltoaction {
  width: 100%;
  margin-bottom: 16px;
}

.slider_slogans {
  text-shadow: 4px 4px 1px #0000009c;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 38px;
  font-weight: 800;
  line-height: 42px;
}

.ubicacion_link {
  color: #fff;
  text-decoration: none;
}

.breadcrumb__nav {
  padding-top: 24px;
  padding-bottom: 0;
}

.breadcrumb_link {
  float: left;
  color: #0073ff;
  margin-right: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.breadcrumb_active {
  float: left;
  color: #fcae06;
  margin-right: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.breadcrumb_separador {
  float: left;
  color: #b8c9d8;
  margin-left: 8px;
  margin-right: 8px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.image-3 {
  border-radius: 4px;
}

.tag_categoria_txt {
  margin-bottom: 0;
  font-size: 16px;
}

.item_col2--a {
  float: left;
  background-image: url('../images/Banner__2col.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 16px;
  width: 300px;
  height: 300px;
}

.item_col2--a.heb {
  background-image: url('../images/Banner__2col-HEB.jpg');
}

.item_col2--b {
  float: left;
  width: 50%;
  height: 290px;
}

.item_col2--l {
  border-top-left-radius: 16px;
  margin-right: 0;
  padding-right: 0;
}

.item_col2--r {
  border-top-left-radius: 0;
  border-top-right-radius: 16px;
}

.box-col2 {
  float: left;
  width: 50%;
}

.box-75 {
  float: left;
  width: 75%;
}

.box-25 {
  float: left;
  width: 25%;
}

.box-60 {
  float: left;
  width: 60%;
}

.box-40 {
  float: left;
}

.box-60x74px {
  float: left;
  width: 60%;
  height: 74px;
}

.box-40-x74px {
  float: left;
  background-color: #483ead;
  border-radius: 4px;
  width: 38%;
  height: 74px;
  margin-left: 8px;
}

.rutas-title {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
}

.item-full-logo, .item__full-aside {
  float: left;
}

@media screen and (min-width: 1280px) {
  .item_col2--a {
    height: 300px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: #0000;
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .item_350x350.margin16 {
    height: 394px;
  }

  .item_350x350.margin16.first {
    width: 100%;
    height: auto;
  }

  .item_350x350.margin8 {
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 16px;
  }

  .item_350x350.last {
    float: left;
  }

  .item__350x700 {
    width: 100%;
    height: auto;
    margin-top: 16px;
  }

  .item__350x700.margin16 {
    float: none;
    width: 632px;
    height: auto;
    margin: 16px auto;
  }

  .vacantes__link.first {
    width: 297px;
  }

  .cointainer__1200 {
    width: 632px;
  }

  .row_items {
    float: none;
    width: 100%;
  }

  .ubicacion_title.full {
    width: 50%;
  }

  .box_flex--150x150.banner {
    width: 350px;
    height: 225px;
  }

  .col_center {
    padding-left: 0;
    padding-right: 0;
  }

  .col_center.banner {
    justify-content: center;
    align-items: flex-end;
    display: flex;
  }

  .banner_cols {
    width: 100%;
  }

  .banner_tumbs {
    height: 40px;
  }

  .item__full {
    float: none;
    margin-bottom: 16px;
  }

  .item_block--img {
    float: none;
  }

  .shared__div-__full {
    float: none;
    border-top-right-radius: 0;
    border-bottom-left-radius: 16px;
    width: 100%;
    height: 220px;
  }

  .item_full--img {
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
  }

  .item_full--table {
    width: 100%;
  }

  .item_full--info.full {
    float: left;
    width: 50%;
  }

  .banner--img {
    height: 225px;
  }

  .item_col2--b {
    height: auto;
  }

  .item__full--info {
    box-sizing: border-box;
    float: left;
    object-fit: contain;
    width: 50%;
  }

  .box-60x74px {
    width: 300px;
  }

  .box-40-x74px {
    width: 246px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    max-width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .tag_categoria {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .tag_categoria.last {
    border: 1px solid #fff;
  }

  .item_350x350.margin16 {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .item__350x700 {
    width: 100%;
    height: auto;
  }

  .item__350x700.margin16 {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }

  .cointainer__1200 {
    width: 320px;
  }

  .buscador_cols {
    text-align: center;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .buscador_input {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
  }

  .buscador_col1 {
    padding-left: 0;
  }

  .buscador_boton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height: auto;
    padding: 16px 24px;
  }

  .buscador_col2 {
    padding-right: 0;
  }

  .row_items {
    text-align: center;
  }

  .rutas_info {
    width: 100%;
  }

  .buscador_form {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .item__full {
    width: 100%;
    height: auto;
  }

  .item__full.margin16 {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }

  .item_full--info, .item_full--info.full {
    width: 100%;
  }

  .tag_categoria_txt {
    margin-bottom: 0;
  }

  .banner--img {
    display: none;
  }

  .item_col2--a {
    width: 100%;
  }

  .item_col2--b {
    width: 100%;
    height: auto;
  }

  .item__full--info {
    width: 100%;
  }

  .box-60x74px {
    height: auto;
  }

  .box-40-x74px {
    background-color: #483ead;
    border-radius: 4px;
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .item-full-logo, .item__full-aside {
    width: 100%;
  }
}


